body {
    background-color: #ddc4dd;
}

h1 {
    font-family: cursive;
    font-size: 30px;
    color: #354f52;
    font-weight: bold;
}

h2 {
    color: #354f52;
    font-family: cursive;
}

p {
    font-family: cursive;
    text-align: justify;
    color: #343a40;
    font-size: 18px;
    font-style: oblique;
}

lu {
    font-family: cursive;
    font-size: 18px;
}

.button {
    color: #fff;
    background-color: #6930c3;
    padding: 13px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}